:root {
  --serifFontFamily: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  --sansFontFamily: 'Proxima Nova', 'Helvetica Neue', sans-serif;
  --fontFamily: var(--sansFontFamily);
  --primary1Color: #8CCBF2;
}

* {
  box-sizing: border-box;
}

html * {
  font-family: var(--fontFamily);
}

p {
  line-height: 1.5;
}

body {
  background-color: #F4F4F4;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
}

h2 {
  font-size: 1.3rem;
  font-weight: 100;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #DDD;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

h5 {
  margin: 1rem 0 0.5rem;
}

:global .capitalize::first-letter {
  text-transform: capitalize;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima-nova/proximanova-regitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima-nova/proximanova-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima-nova/proximanova-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
