.topMargin {
  margin-top: 2rem;
}

ul.columns {
  padding: 0;
  column-count: 3;

  @media (max-width: 768px) {
    column-count: 2;
  }

  @media (max-width: 410px) {
    column-count: 1;
  }

  & li {
    margin-left: 2rem;
  }
}
